<section id="header">
  <img src="https://zupimages.net/up/21/48/sgut.png">
</section>
<section id="movie-info">
  <div class="technical-info">
    <p> <span id="recommand">100% Match</span> <span>December 13, 2021 </span> <span id="disclaimer">16+</span> Miniseries <span id="hd">HD</span></p>
    <p class="resume"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
 <div class="distribution">
  <p><span>Cast:</span>Sarah Nieutin, School of Business and Economics, Linnaeus University<br/>21HT-4TR506-Tourism and Sustainability in Anthropocene, Marianna Strzelecka</p>
  <p><span>Genre:</span> Personal Project</p>
 </div>
</section>
<section id="episode-info">
  <app-episode-info></app-episode-info>
</section>
