#main {
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  color: #eb2222;
}

.menus {
  color: #e0dfdf;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 45%;
  align-items: baseline;
  font-size: 20px;
  cursor: pointer;
}
